# SWAGGER
SWAGGER_API_SERVER=http://localhost:5500

# PORT
PORT=5500

# MONGODB
MONGODB_URI = 

#JWT
JWT_SECRET = 
JWT_EXPIRATION_TIME = 


# FIREBASE
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_DATA_URL=